html {
  height: 100vh;
}

body {
  overflow: hidden;
}

/*#curtain {
  background-image: repeating-linear-gradient(
    white,
    Azure 5px,
    #d2b48c 35px,
    black 3px,
    white 70px
  );
  height: 100vh;
  color: red;
  left: 0;
  top: 0;
  width: 100%;
  transform: translateY(-100%);
  transition: transform 1500ms ease-in;
  position: fixed;
}

.curtain-on #curtain {
  z-index: 1;
  transform: translateY(0%);
  transition: transform 3000ms ease-out;
}

.curtain-info {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.curtain-info p {
  font-size: 2em;
  font-weight: 700;
  color: #666;
}

.curtain-info img {
  width: 20%;
  opacity: 0.5;
}*/

canvas {
  display: block;
  position: absolute;
  top: 0;
  z-index: -2;
}

#snowfall {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #eee;
  background-size: cover;
  z-index: -3;
}

#rainfall {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #eee;
  background-size: cover;
  z-index: -2;
}

#drizzle {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #eee;
  background-size: cover;
  z-index: -2;
}

#clearSky {
  background-image: url("https://wallpapersite.com/images/wallpapers/sunset-2560x1440-clear-sky-hd-5168.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#clouds {
  background-image: url("https://s.marketwatch.com/public/resources/MWimages/MW-DY125_clouds_ZG_20151029153158.jpg");
  background-size: cover;
  -webkit-animation: breath 60s linear infinite alternate;
  animation: breath 60s linear infinite alternate;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-repeat: no-repeat;
  z-index: -2;
  top: 0;
  left: 0
}

@-webkit-keyframes breath {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
  }
}

@keyframes breath {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
  }
}

#thunderStorm {
  background-image: url("https://c1.staticflickr.com/8/7282/9263924434_aba98b6249_b.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#inTheMist {
  background-image: url("http://eskipaper.com/images/hazy-wallpaper-3.jpg");
  background-position: bottom left;
  width: 100vw;
  height: 100vh;
}

#card {
  width: 350px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  margin: -250px 0 0 -175px;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-size: 350px 500px;
}

#cardOpacity {
  width: 350px;
  height: 500px;
  background: rgba(84, 104, 110, 0.28);
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -175px;
  border-radius: 10px;
}

.wrapper {
  display: grid;
  grid-gap: 25px;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-areas: "m m" "c c" "t t" "tmm tmm" "w w" "s s";
  padding-top: 20px;
}

.wrapper hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  width: 60%;
  opacity: 0.2;
  margin-bottom: 0;
}

#main {
  grid-area: m;
}

#cityName {
  grid-area: c;
}

#temperature {
  grid-area: t;
}

#temperatureMinMax {
  grid-area: tmm;
}

#wind {
  grid-area: w;
}

#sunset {
  grid-area: s;
}

.wrapper h1 {
  font-family: 'Signika', sans-serif;
  text-align: center;
  color: black;
  font-weight: 600;
  opacity: 0.6;
  text-shadow: 1px 0.5px 6px #1e1e1e;
  margin-bottom: 0;
}

p {
  color: rgb(223, 6, 6);
  font-size: 1.125em;
  font-weight: 900;
  font-family: 'Ubuntu', sans-serif;
}